hr{
    width: 15%;
    margin: 20px auto;
    align-self: center;
}
.center{
    text-align: center;
}
img{
    border-radius: 150px;
    width: 200px;
    height: 200px;
}
i{
    justify-content: center !important;
}
