<!-- <div id="career">
    <div class="row">
        <div class="col-4">
            <div id="list-example" class="list-group" data-aos="zoom-out-up">
                <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                class="scrollspy-example" tabindex="0" data-aos="zoom-out-up">
                <h4 id="list-item-1">Item 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum debitis esse sit obcaecati cum, et fugit unde vero error culpa voluptate? Vero doloremque incidunt explicabo, nostrum officiis quo quidem alias cum aliquam repellendus inventore ad suscipit asperiores laboriosam tempore, voluptate consequatur minima architecto repellat maiores accusantium porro enim ratione.</p>
                <h4 id="list-item-2">Item 2</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum debitis esse sit obcaecati cum, et fugit unde vero error culpa voluptate? Vero doloremque incidunt explicabo, nostrum officiis quo quidem alias cum aliquam repellendus inventore ad suscipit asperiores laboriosam tempore, voluptate consequatur minima architecto repellat maiores accusantium porro enim ratione.</p>
                <h4 id="list-item-3">Item 3</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum debitis esse sit obcaecati cum, et fugit unde vero error culpa voluptate? Vero doloremque incidunt explicabo, nostrum officiis quo quidem alias cum aliquam repellendus inventore ad suscipit asperiores laboriosam tempore, voluptate consequatur minima architecto repellat maiores accusantium porro enim ratione.</p>
                <h4 id="list-item-4">Item 4</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci illum debitis esse sit obcaecati cum, et fugit unde vero error culpa voluptate? Vero doloremque incidunt explicabo, nostrum officiis quo quidem alias cum aliquam repellendus inventore ad suscipit asperiores laboriosam tempore, voluptate consequatur minima architecto repellat maiores accusantium porro enim ratione.</p>
            </div>
        </div>
    </div>
</div> -->