<nav class="h-top sticky-top navbar navbar-expand-lg  py-2 pe-3 ps-1 bg-dark">
  <div class="d-flex">
    <button class="navbar-toggler custom-toggler text" type="button" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon ms-0"></span>
    </button>
    <strong class="navbar-brand text-white ms-2">Blog</strong>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      @for(link of navLinks; track $index){
      <li class="nav-item">
        @if(link.routerLink){
        <a class="nav-link" [routerLink]="link.routerLink">{{ link.label }}</a>
        }@if(link.function){
        <a class="nav-link" (click)="handleClick(link.label)">{{ link.label }}</a>
        }@if(link.icon){
        <i [class]="link.icon"></i>
        }
      </li>
      }
    </ul>
  </div>
</nav>



@switch (blogContent) {

@case('csharp'){
<div>
  @if(CSharpPosts && CSharpPosts.length > 0) {
  @for(post of CSharpPosts ; let i = $index; track $index) {
  <div class="list-group w-50 my-2 mx-auto list-group-item-light"
    [attr.data-aos]="i % 2 === 1 ? 'fade-down-right' : 'fade-down-left'" data-aos-anchor-placement="top-bottom">
    <a [routerLink]="['/blog', post.slug]" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date }}</small>
      </div>
      <a [routerLink]="['/blog', post.slug]">
        <small>
          Read more
        </small>
      </a>
    </a>
  </div>
  }
  }@else {
  <div class="alert alert-warning w-50 mx-auto mt-5" role="alert">
    <p>No posts available in this category.</p>
  </div>
  }

</div>
}
@case('angular'){
<div>
  @if(AngularPosts && AngularPosts.length > 0) {
  @for(post of AngularPosts ; let i = $index; track $index) {
  <div class="list-group w-50 my-2 mx-auto list-group-item-light"
    [attr.data-aos]="i % 2 === 1 ? 'fade-down-right' : 'fade-down-left'" data-aos-anchor-placement="top-bottom">
    <a [routerLink]="['/blog', post.slug]" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date }}</small>
      </div>
      <a [routerLink]="['/blog', post.slug]">
        <small>
          Read more
        </small>
      </a>
    </a>
  </div>
  }
  }@else {
  <div class="alert alert-warning w-50 mx-auto" role="alert">
    <p>No posts available in this category.</p> 
  </div>
  }
</div>

}
@case('elasticsearch'){
<div>
  @if(elasticSearchPosts && elasticSearchPosts.length > 0) {
  @for(post of elasticSearchPosts; let i = $index; track $index) {
  <div class="list-group w-50 my-2 mx-auto list-group-item-light"
    [attr.data-aos]="i % 2 === 1 ? 'fade-down-right' : 'fade-down-left'" data-aos-anchor-placement="top-bottom">
    <a [routerLink]="['/blog', post.slug]" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date }}</small>
      </div>
      <a [routerLink]="['/blog', post.slug]">
        <small>
          Read more
        </small>
      </a>
    </a>
  </div>
  }
  }@else {
  <div class="alert alert-warning w-50 mx-auto mt-2" role="alert">
    No posts available in this category.
  </div>
  }
</div>
}
@case('others'){
<div>
  @if(OtherPosts && OtherPosts.length > 0) {
  @for(post of OtherPosts ; let i = $index; track $index) {
  <div class="list-group w-50 my-2 mx-auto list-group-item-light"
    [attr.data-aos]="i % 2 === 1 ? 'fade-down-right' : 'fade-down-left'" data-aos-anchor-placement="top-bottom">
    <a [routerLink]="['/blog', post.slug]" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date }}</small>
      </div>
      <a [routerLink]="['/blog', post.slug]">
        <small>
          Read more
        </small>
      </a>
    </a>
  </div>
  }
  }@else {
  <div class="alert alert-warning w-50 mx-auto mt-2" role="alert">
    <p>No posts available in this category.</p>
  </div>
  }
</div>
}
@default {
<div>
  @if(posts && posts.length > 0) {
  @for(post of posts; let i = $index; track $index) {
  <div class="list-group w-50 my-2 mx-auto list-group-item-light"
    [attr.data-aos]="i % 2 === 1 ? 'fade-down-right' : 'fade-down-left'" data-aos-anchor-placement="top-bottom">
    <a [routerLink]="['/blog', post.slug]" class="list-group-item list-group-item-action active" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ post.title }}</h5>
        <small>{{ post.date }}</small>
      </div>
      <a [routerLink]="['/blog', post.slug]">
        <small>
          Read more
        </small>
      </a>
    </a>
  </div>
  }
  }@else {
  <div class="alert alert-warning w-50 mx-auto mt-2" role="alert">
   <p>No posts available.</p> 
  </div>
  }
</div>
}
}